<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Repaso de APIS</ion-list-header>
          
          <!-- ← AGREGAR: EMAIL DINÁMICO -->
          <ion-note *ngIf="user">{{ user.email }}</ion-note>
          <ion-note *ngIf="!user"><b>Inicia Sesión Para Poder Consumir Las APIS <br>Si no inició sesión no podrá ver las APIS</b> </ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <ion-list class="logout-section">
          <ion-menu-toggle auto-hide="false">
            <!-- ← MOSTRAR SOLO SI LOGUEADO -->
            <ion-item *ngIf="user" button (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
            <!-- ← BOTÓN LOGIN SI NO LOGUEADO -->
            <ion-item *ngIf="!user" button routerLink="/auth/login" lines="none" detail="false">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>Iniciar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>