.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.logo-section {
  text-align: center;
  margin-bottom: 2rem;

  ion-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }

  p {
    color: var(--ion-color-medium);
    margin-top: 0.5rem;
  }
}

ion-item {
  margin-bottom: 1rem;
}

.error-message {
  font-size: 0.8rem;
  padding-left: 1rem;
  margin-top: 0.2rem;
}

.login-button {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.links-section {
  text-align: center;
  margin-bottom: 2rem;
}

.register-section {
  text-align: center;
  margin-top: 2rem;

  p {
    color: var(--ion-color-medium);
    margin-bottom: 0.5rem;
  }
}